<h1> Find Followers </h1>

<article>
	<form method="POST" action="/find-followee-process">
		<br>
		<label for= "username">Username: </label>
		<input type="text" name="username"></input>
		</br>
		
		<br>
		<label for= "fname">First Name: </label>
		<input type="text" name="fname"></input>
		</br>
		
		<br>
		<label for="lname">Last Name: </label>
		<input type ="text" name ="lname"></input>
		</br>

		<br>
		<input type="submit"></label>
		</br>
	</form>

</article>